[submodule "thirdparty/SDL"]
	path = thirdparty/SDL
	url = https://github.com/libsdl-org/SDL.git
	branch = SDL2
[submodule "thirdparty/GLM"]
	path = thirdparty/GLM
	url = https://github.com/g-truc/glm.git
