*.pdf
assets/*
make/*

build
.vscode
.cache


# Media files
*.png
*.jpg
*.bmp
*.gif
*.tiff
*.webv
*.3gp
*.mp3
*.mp4
*.m4a
*.ogg
*.avi
*.VOB
*.ico
*.wav
*.EXT

# Binaries
*.o
*.com
*.exe
*.lnk
*.jar
*.bin

# Data
*.dat
*.csv
*.json
*.sav
*.svg

# Temp
*.temp
*.tmp
